<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="positionMenu">

         

          <select [(ngModel)]="selectedValue">
              <option *ngFor="let position of positions; let i = index" [ngValue]="position">{{position.name}} </option>
            </select>


            <button (click)="calculateAllDistances(startPoint, arrivalPoint)" class="btn btn-success">Calculate</button>
            
           <input [(ngModel)]="selectedKm"type="text">
      </div>
    </div>

  
  </div>

  <!-- <button (click)="getDistanceFromLatLonInKm()" class="btn btn-success">Calculate</button> -->

  <div *ngIf="selectedValue" class="container">
<h1>Distances</h1>

<ul>
 
  <li *ngFor="let distance of distances">
    <span >{{distance[0] }} : {{distance[1]}}km</span>
  </li>
</ul>  


</div>


  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    <agm-marker [latitude]="selectedValue.lat" [longitude]="selectedValue.lng"></agm-marker>

  </agm-map>
</div>
